@use 'forwards' as *;

.container {
	// basic container
	max-width: $size-container;
	margin: 0 auto;

	/* 	@include mx-bp(small) {
		background: pink;
	}
	@include mx-bp(medium) {
		background: lavender;
	}
	@include mx-bp(large) {
		background: antiquewhite;
	}
 */
}

.main-content {
	display: grid;
	grid-template-columns: 5fr 3fr;
	grid-gap: 5vw;
}
