@use 'forwards' as *;

.container {
	max-width: $size-container;
	margin: 0 auto;
	// background: #eee;
	@include mx-bp(small) {
		background: pink;
	}
	@include mx-bp(medium) {
		background: lavender;
	}
	@include mx-bp(large) {
		background: antiquewhite;
	}
}
