@use 'forwards' as *;

.navbar {
	position: sticky;
	top: 0;
}
nav {
	.navbar-toggle {
		float: right;
		background: $clr-primary;
		border-radius: 5px;
		color: $clr-white;
		padding: 0.25rem 0.5rem;
		i:first-of-type {
			margin-right: -1em;
		}
		i + i {
			opacity: 0;
		}
	}
	ul {
		@extend %utl-list-reset;
		text-align: center;
	}
	.nav-item /* li */ {
		line-height: 3em;
		&.active {
			background: $clr-primary;
		}
	}
	.nav-link /* a */ {
		display: block;
		&:hover {
			background: rgba($clr-black, 0.1);
		}
	}
}

/* toggle menu in small screen with chackbox 'hack' */
.navbar-checkbox {
	display: none; /* hide the checkbox -duh- */
}
.navbar-collapse .nav-item {
	transition: height 0.3s ease;
	height: 0;
	overflow: hidden;
	background: pink;
}
.navbar-checkbox:checked ~ .navbar-collapse .nav-item {
	height: 3em;
}
.navbar-checkbox:checked ~ .navbar-toggle {
	/* toggle icon */
	i {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	i + i {
		opacity: 1;
	}
}
/* End toggle */
