/* Colors :: clr- */

$clr-primary: #003a41;
$clr-accent: #400626;

$clr-primary-light: #007e8c;
$clr-primary-dark: #001e21;

$clr-black: #000;
$clr-white: #fff;

$clr-light: #ccc;
$clr-dark: #333;

/* Colors utilized */
$clr-link: $clr-primary;
$clr-link-hover: $clr-accent;

/* Text :: txt- */
$txt-font-primary: 'Red Hat Text', 'Arial', sans-serif;
$txt-font-accent: 'Bitter', serif;

/* Sizing :: size- */
$size-container: 90%;

$fx-translate: calc(-100% - 1.6em);
